<div class="container" style="padding-top:60px">
  <h1>Add New Channel</h1>
  <form action="/channels/add" method="POST">
    <div class="form-group">
      <label for="channel"></label>
      <input type="text" class="form-control" id="channel" name="channel">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</div>