<div class="container" style="padding-top:60px">
<a class="btn btn-primary" href="/channels/add">Add Channel</a>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Channel</th>
      <th scope="col">Delete</th>

    </tr>
  </thead>
  <tbody>
    {{#each data}}
    <tr>
      <th scope="row">{{channelID}}</th>
      <td>{{channel}}</td>
      <td><a href="/channels/delete/{{channelID}}" class="btn btn-danger">Delete</a></td>
    </tr>
    {{else}}
    <tr>
      <td>NO DATA FOUND</td>
    </tr>
    {{/each}}
  </tbody>
</table>
</div>