<div class="container" style="padding-top:60px">
  <h1>Register New User</h1>
  {{#if errMsg}}
    <div class="alert alert-danger"> <strong>Error:</strong> {{errMsg}}</div> 
  {{/if}}
  {{#unless successMsg}}
  <form action="/register" method="POST">
    <div class="form-group">
      <label for="userName">Username</label>
      <input type="text" class="form-control" id="userName" name="userName" required>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" name="email" required>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" name="password" required>
    </div>
    <div class="form-group">
      <label for="password2">Confirm Password</label>
      <input type="password" class="form-control" id="password2" name="password2" required>
    </div>
    </br>
    <button type="submit" class="btn btn-success">Register</button>
  </form>
  {{else}}
    <div class="alert alert-success"> <strong>Success:</strong> {{successMsg}}</div> 
  {{/unless}}
  </br>
    <a href="/login" class="btn btn-primary">Login</a>
</div>